sync/
luna_pinyin.userdb/
build/
build*/
easy_en.userdb/

# git update-index --assume-unchanged custom_phrase.txt
# custom_phrase
custom_personal.txt

user.yaml

installation.yaml

# for nohup
nohup.out
dicts/custom_personal.txt
.DS_Store